{
  description = "Private additions to the public macOS configuration";

  inputs = { };

  outputs = { ... }: {
    darwinModules.default = { ... }: {
      imports = [ ];
      homebrew.casks = [ ];
    };
  };
}
